@tailwind base;
@tailwind components;
@tailwind utilities;

.spinning {
    animation: spin 15s linear infinite;
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.fadeIn {
    animation: fadeIn 3s linear
}

@keyframes fadeIn {
    0% {
        opacity: 0%;
    }

    60% {
        opacity: 0%;
    }

    100% {
        opacity: 1;
    }
}

.thingy {
    background-repeat: repeat;
    background-attachment: scroll;
}

.hover:hover {
    transition: all 300ms;
    scale: 1.1;
}

